Name = "Anwar Siraj"
Age = "35-Years"
Country = "Pakistan"
Mobile_No="03158956255"
print("My name is ",Name,"I am",Age,"years old,","I live in country", ,Country,"My Contact#is:",Mobile_No)

In [ ]:
# Assignment #1
Name = "Anwar Siraj"
Age = "35-Years"
Country = "Pakistan"
Mobile_No="03158956255"
print("My name is ",Name,"I am",Age,"years old,","I live in country", Country,"My Contact#is:",Mobile_No)

My name is  Anwar Siraj I am 35-Years years old, I live in country Pakistan My Contact#is: 03158956255

In [ ]:
# Assnment 2
# Student Name: Anwar Siraj
Product = "Computer"
Quantity = 5
cost_per_Unit = 10000
total_cost = Quantity * cost_per_Unit
print("total cost of five-05 computers is :Rs.", total_cost,"/-")

total cost of five-05 computers is :Rs. 50000 /-

In [ ]:
# ASSIGNMENT# 3
# String Interpolation using `f''`
# PGD-Batch-V,"Data Science with Artificial Intelligence"

temperature = "Weather"
Deg = "34°C"
City = "Karachi"
temp = f"Today karachi temerature is {temperature} and its is an good {Deg} for picnic"
print(temp)

Today karachi temerature is Weather and its is an good 34°C for picnic

In [ ]:
# Assignment # 4
# Create the variables
first_name = "Anwar"
last_name = "Siraj"
birth_year = 1987

# Calculate the age
age = 2023 - birth_year

# Create the formatted string
formatted_string = "My name is %s. I am %d years old."%(first_name, age)

# Print the formatted string
print(formatted_string)

My name is Anwar. I am 36 years old.

In [ ]:
# ASSIGNMENT# 5
# Combining Formatting Methods
# PGD-Batch-V,"Data Science with Artificial Intelligence"

product = "~ Speaker"
discount = 33
original_price = 505

payable_amount = original_price * (1 - discount / 100)

descriptive_string = "Product: {}\nOriginal Price: {}\nDiscount: {}%\nPayable Amount: {:.2f}".format(
    product, original_price, discount, payable_amount)

print(descriptive_string)

Product: ~ Speaker
Original Price: 505
Discount: 33%
Payable Amount: 338.35